.callout[data-callout="info"] {
    --callout-color: transparent !important;
    border: 1px inset var(--color-accent);
}

.callout[data-callout="info"] .lucide-info,
.callout[data-callout="info"] .lucide-chevron-down {
    color: var(--color-accent);
}

.callout[data-callout="info"] .callout-title-inner {
    color: var(--color-accent);
}

.callout[data-callout="info"] .callout-icon .svg-icon {
    color: var(--color-accent);
}

.callout[data-callout="info"] .callout-fold.is-collapsed .svg-icon {
    stroke: var(--color-accent);
}