.clear-quote .callout[data-callout="quote"], .callout[data-callout="cite"] {
    --callout-color: transparent;
    --callout-icon: none;
    --callout-padding: 1px;
    text-align: center;
}

.clear-quote .callout[data-callout="quote"] .callout-title {
    display: none;
}

.markdown-preview-view.clear-quote blockquote {
   padding: 0px;
   box-shadow: none !important;
   border-radius: 0px;
   color: var(--inline-title-color);
}

.markdown-preview-view.clear-quote blockquote:before {
   display: none;
}

/* Vault-wide Override  */


.callout[data-callout="quote"], .callout[data-callout="cite"] {
    --callout-color: transparent;
    --callout-icon: none;
    --callout-padding: 1px;
    text-align: center !important;
}

.callout[data-callout="quote"] .callout-title {
    display: none;
}

.markdown-preview-view blockquote {
   padding: 0px;
   box-shadow: none !important;
   border-radius: 0px;
   color: var(--inline-title-color);
}

.markdown-preview-view blockquote:before {
   display: none;
}


