.markdown-preview-view.push-pin p {
   margin-block-start: calc(var(--p-spacing) * 0.75) !important;
   margin-block-end: calc(var(--p-spacing) * 0.75) !important;
   unicode-bidi: plaintext !important;
   padding-right: 2.5em !important;
   position: relative !important;
}

.markdown-preview-view.push-pin hr {
   margin-top: 25px !important;
   margin-bottom: 25px !important;
}

/* Replace yaml-class with your specific class from YAML frontmatter */
.push-pin .callout[data-callout=""] {
   background-color: transparent !important;
   margin: 0 !important;
   padding: 0 !important;
   position: relative !important;
   width: 95% !important;
   min-height: 24px !important;
}

.push-pin .callout-icon .svg-icon {
    color: grey;
}

.push-pin .callout-fold .svg-icon {
    transition: transform 100ms ease-in-out;
    color: transparent;
}

.push-pin .callout[data-callout=""] .callout-icon svg {
   display: none;
}

.push-pin .callout[data-callout=""] .callout-icon {
   position: relative !important;
   width: 100% !important;
   min-height: 24px !important;
}

.push-pin .callout[data-callout=""] .callout-icon::after {
   content: '';
   -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23c1c1c1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11.5' cy='8.5' r='5.5'/%3E%3Cpath d='M11.5 14v7'/%3E%3C/svg%3E");
   mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23c1c1c1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11.5' cy='8.5' r='5.5'/%3E%3Cpath d='M11.5 14v7'/%3E%3C/svg%3E");
   background-color: currentColor;
   display: inline-block;
   width: 16px;
   height: 16px;
   color: #ebe8e8;
   position: absolute !important;
   right: 1em !important;
   top: 50% !important;
   transform: translateY(-50%) !important;
}

.push-pin .callout.is-collapsible .callout-content {
  margin-top: -29px;
  margin-bottom: -7px;
  margin-right: 43px;
}

@media screen and (max-width: 768px) {
   .push-pin .callout[data-callout=""] .callout-icon::after {
       right: 0.5em !important;
   }
}


