.two-columns {
  display: block;
  column-count: 2;
  margin-left: 5em;
  max-width: 37.1em;
}

/*  margin: auto; */
/*  column-gap: 40px;  */

.three-columns {
  display: block;
  column-count: 3;
}

.four-columns {
  display: block;
  column-count: 4;
}